    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url(https://wallpapershome.com/download-wallpapers/android/waves-4k-hd-wallpaper-android-wallpaper-background-orange-3525.html);
        
    
}